<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>상품 등록</h2>
  </div>
  <form th:action method="post" enctype="multipart/form-data">
    <ul>
      <li>상승률(%) <input type="text" name="stockRise"></li>
      <li>거래대금(억)<input type="text" name="stockTransactionAmount" ></li>
      <li>첨부파일<input type="file" name="attachFile" ></li>
      <li>날짜표기<input type="checkbox" name="writeDate" ></li>
      <li>종목명 명시적 표기<input type="checkbox" name="writeStockName" ></li>
    </ul>
    <input type="submit"/>
  </form>
</div> <!-- /container -->
</body>
</html>